.App {
    text-align: center;
}
.prac4_div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.hello {
    background-color: lightcoral;
    width: 70%;
    height: 40px;
    line-height: 40px;
}

.input {
    margin-top: 20px;
}

.input > span {
    margin-top: 10px;
}
