<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/user</title>
</head>

<body>
    <h1>๐๋ฉ์ธ ํ์ด์ง์ ์ค์ ๊ฒ์ ํ์ํฉ๋๋ค๐</h1>
    <a href="/user/signup">ํ์๊ฐ์</a>
    <a href="/user/signin">๋ก๊ทธ์ธ</a>
</body>

</html>